{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- if predictive_search.performed -%}
  <div id="predictive-search-results">
    {%- if predictive_search.resources.products.size > 0 -%} 
      <h2 id="predictive-search-products" class="predictive-search__heading text-body caption-with-letter-spacing">
        {{ 'templates.search.products' | t }}
        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M26.6701 25.0793L18.992 17.4013C20.4793 15.5642 21.3747 13.2299 21.3747 10.6874C21.3747 4.79471 16.58 0 10.6873 0C4.79466 0 0 4.79466 0 10.6873C0 16.58 4.79472 21.3747 10.6874 21.3747C13.2299 21.3747 15.5642 20.4793 17.4013 18.992L25.0794 26.6701C25.2987 26.8894 25.5867 26.9997 25.8747 26.9997C26.1628 26.9997 26.4507 26.8894 26.6701 26.6701C27.11 26.2302 27.11 25.5192 26.6701 25.0793ZM10.6874 19.1248C6.03443 19.1248 2.24999 15.3403 2.24999 10.6873C2.24999 6.03438 6.03443 2.24994 10.6874 2.24994C15.3404 2.24994 19.1248 6.03438 19.1248 10.6873C19.1248 15.3403 15.3403 19.1248 10.6874 19.1248Z" fill="#062A2F"/>
        </svg>
      </h2>
    {%- endif -%}
    <ul id="predictive-search-results-list" class="predictive-search__results-list list-unstyled" role="listbox" aria-labelledby="predictive-search-products">
      {%- for product in predictive_search.resources.products -%}
        <li id="predictive-search-option-{{ forloop.index }}" class="predictive-search__list-item" role="option" aria-selected="false">
          <a href="{{ product.url }}" class="predictive-search__item predictive-search__item--link link link--text" tabindex="-1">
            {%- if product.featured_media != blank -%}
              <img class="predictive-search__image"
                src="{{ product.featured_media | image_url: width: 150 }}"
                alt="{{ product.featured_media.alt }}"
                width="50"
                height="{{ 50 | divided_by: product.featured_media.preview_image.aspect_ratio }}"
              >
            {%- endif -%}
            <div class="predictive-search__item-content{% unless settings.predictive_search_show_vendor or settings.predictive_search_show_price %} predictive-search__item-content--centered{% endunless %}">
              {%- if settings.predictive_search_show_vendor -%} 
                <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span><div class="predictive-search__item-vendor caption-with-letter-spacing">{{ product.vendor }}</div>
              {%- endif -%}
              <h3 class="predictive-search__item-heading h5">{{ product.title }}</h3> 
              {%- if settings.predictive_search_show_price -%}
                {% render 'price', product: product, use_variant: true, show_badges: false %} 
              {%- endif -%}
            </div>
          </a>
        </li>
      {%- endfor -%}
      <li id="predictive-search-option-search-keywords" class="predictive-search__list-item" role="option">
        <button class="predictive-search__item predictive-search__item--term link link--text h5 animate-arrow" tabindex="-1">
          {{ 'templates.search.search_for' | t: terms: predictive_search.terms }}
          {% render 'icon-arrow' %}
        </button>
      </li> 
    </ul>

    <div class="predictive-search__loading-state" aria-hidden="true">
      <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
  </div>

  <span class="hidden" data-predictive-search-live-region-count-value>
    {%- if search.results_count == 0 -%}
      {{ 'templates.search.no_results' | t: terms: predictive_search.terms }}
    {%- else -%}
      {{ 'templates.search.results_with_count' | t: terms: predictive_search.terms, count: predictive_search.resources.products.size }}
    {%- endif -%}
  </span>
{%- endif -%}
